@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
   font-family: "Montserrat", sans-serif;
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

 body{ 
 background-image: linear-gradient(to bottom, #fff6b9, #ffebb1, #ffe0ac, #ffd5a8, #ffcaa500, #ffc09c, #feb695, #feab8f, #fd9e80, #fc9271, #fa8562, #f87754);
   margin-top: 0;
 } 
/* tamaño del carrusel */
.carousel-item{
  height: 90vh;
}
.carousel-item img{
  height: 100%;
  object-fit: cover;
}
.fa-square-whatsapp{
  color: #00bb2d;
  font-size: 5em;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.fa-square-instagram{
  color: rgb(230, 79, 204);
  font-size: 5em;
}
.fa-facebook{
  color:#3b5998 ;
  font-size: 5em;
}
.secciongaleriaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
      "barby intensamente"
      "frozen intensamente"
      "plinplin intensamente"
      "plinplin unicornio";
  gap: 25px;
}

.intensamente {
  grid-area: intensamente;
}

.barby {
  grid-area: barby;
}

.frozen {
  grid-area: frozen;
}

.plinplin {
  grid-area: plinplin;
}

.unicornio {
  grid-area: unicornio;
}

.hijo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Para el efecto hover */
}

.hijo:hover {
  transform: scale(1.1); /* Agrandar la imagen */
}

/* Media Query para hacer el grid responsivo */
@media (max-width: 768px) {
  .secciongaleriaGrid {
      grid-template-columns: 1fr;
      grid-template-areas: 
          "barby"
          "intensamente"
          "frozen"
          "plinplin"
          "unicornio";
  }
}
.card-title{
  text-align: center;
  color: #ca46e2;
  font-size: 2rem

  
}
.titnuetrosproductos{
  text-align: center;
  
}
.h3deladivicion{
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  padding:20px;

  background-image: radial-gradient(circle, #a1e592, #9ce5b9, #a7e5a6, #afe5b9, #b9e5c5, #c7e5b9, #b9e5cf, #b9e5c6, #b5e5af, #a6e5b7, #a2e59c, #92e5b0);
  font-size: 10px;
  .logo{
      width: 100px;
  }
  ul{
      list-style: none;
  }
      a{
          text-decoration: none;
          
          font-size: 1.5em;
      }
  .fa-instagram{
          font-size: 3em;
          color: #ca46e2;
        }
   .fa-facebook{
    font-size: 3em;
    color: #6046e2;
   }

  .fa-whatsapp{
      font-size: 100px;
      color:rgb(44, 181, 44);
      position:fixed;
      bottom: 50px;
      right: 50px;
     
  }
  p{
      font-size: 1.5em;
    
  }

}
@media screen and (max-width:768px){
  
 .footer{
   flex-direction: column;
   height: initial;
   align-items: start;
   row-gap:20px;
 }

}

#miFormulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

#miFormulario label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fa8562; /* Combina con el esquema de colores */
}

#miFormulario input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#miFormulario button {
    background-color: #fa8562;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#miFormulario button:hover {
    background-color: #f87754;
}
